<div class="container d-flex justify-content-center">
  <div class="mt-5 mx-5 w-75 bg-white p-5">
    <h1 class="mb-5">Add Spot</h1>
    <div class="form-container">
      <%= simple_form_for(@spot) do |t| %>
        <%= t.input :name %>
        <%= t.input :address %>
        <%= t.input :description %>
        <%= t.input :category, collection: ["outdoor", "restaurant", "house", "office", "bar", "other"] %>
        <%= t.input :daily_rate %>
        <%= t.input :photo, as: :file %>
        <%= t.submit class: "btn btn-primary rounded-3" %>
      <% end %>
    </div>
  </div>
</div>
