<div class="parent-container">
  <div class="show-container">
    <div class="spot-page">
      <h1>Spot Page</h1>
    </div>
    <div class="spot-name">
      <h2><strong><%= @spot.name %></strong></h2>
    </div>
    <% if @spot.photo.attached?  %>
      <div class="image-container">
        <%= cl_image_tag @spot.photo.key, crop: :fill, class: "spot-photo" %>
      </div>
    <% end %>
    <%= render partial: "bookings/form", locals: { spot: @spot, booking: @booking } %>
    <p>Address: <strong><%= @spot.address %></strong></p>
    <p>Description: <strong><%= @spot.description %></strong></p>
    <p>Category: <strong><%= @spot.category %></strong></p>
    <p>Daily Rate: <strong><%= @spot.daily_rate %></strong></p>
  </div>
</div>
