<div  data-controller="booking-status" class="container">
  <h1>My Bookings</h1>
  <div class="container toggle-lists">
    <div class="d-flex justify-content-center">
      <div class="border border-2 rounded-pill d-flex align-items-center">
        <div class="box rounded-pill d-flex justify-content-center px-3 py-2" style="flex: 1;">
          <button data-action="click->booking-status#allClicked" data-booking-status-target="all" class="btn btn-warning rounded-pill">All</button>
        </div>
        <div class="edge-start border-end border-2 h-50"></div>
        <div class="box rounded-pill d-flex justify-content-center px-3 py-2" style="flex: 1;">
          <button data-action="click->booking-status#pendingClicked" data-booking-status-target="pending" class="btn btn-dark rounded-pill">Pending</button>
        </div>
        <div class="edge-end border-start border-2 h-50"></div>
        <div class="box rounded-pill d-flex justify-content-center px-3 py-2" style="flex: 1;">
          <button data-action="click->booking-status#acceptedClicked" data-booking-status-target="accepted" class="btn btn-dark rounded-pill">Accepted</button>
        </div>
        <div class="edge-end border-start border-2 h-50"></div>
        <div class="box rounded-pill d-flex justify-content-center px-3 py-2" style="flex: 1;">
          <button data-action="click->booking-status#declinedClicked" data-booking-status-target="declined" class="btn btn-dark rounded-pill">Declined</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container filter-lists">
    <div class="d-flex justify-content-center gap-3 my-2">
      <p>Filter by: </p>
      <div>
        <%# <p data-action="click->booking-status#toggleFilterList" class="border-bottom border-2 border-warning">date</p> %>
        <%# <a href="#" class="text-decoration-none text-dark border-bottom border-2 border-warning">Date</a> %>
        <button class="border-bottom border-2 border-warning" style="background: unset; border: unset">Date</button>
      </div>
    </div>
  </div>
  <div data-booking-status-target="bookingsRow" class="row p-3">
    <% @bookings.each do |booking| %>
      <div data-booking-status-target="statusCard" class="col-sm-6 col-lg-4 booking-item">
        <div class="info m-3 p-3 border border-2 rounded-3">
          <% status_color = "text-success" if booking.status == "accepted" %>
          <% status_color = "text-danger" if booking.status == "declined" %>
          <%= image_tag("https://pbblogassets.s3.amazonaws.com/uploads/2016/07/Professional-Cinema-Camera.jpg", alt: "generic movie shooting image", width: 200) %>
          <h2><strong><%= booking.spot.name %></strong></h2>
          <h3><strong>Scheduled on:</strong> <%= booking.booking_date %></h3>
          <h3><strong>Booking status:</strong> <span data-booking-status-target="statusWord" class="<%= status_color %>"><%= booking.status %></span></h3>
          <h3><strong>Viewer:</strong> <%= booking.user.name %></h3>
          <% if booking.status == "pending" %>
            <div class="accept-buttons d-flex justify-content-around">
              <%# link_to "Accept", owner_booking_path(booking), :method => :patch %>
              <%= button_to("Accept", {controller: "bookings", action: "update", id: booking.id}, method: :patch, class: "btn btn-success rounded-pill", params: { status: "accept" } ) %>
              <%= button_to("Decline", {controller: "bookings", action: "update", id: booking.id}, method: :patch, class: "btn btn-danger rounded-pill", params: { status: "decline" } ) %>
            </div>
          <% end %>
          <div class="d-flex justify-content-center">
            <%= link_to "More details", booking_path(booking), class: "btn btn-primary m-3 rounded-pill" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
