<div class="container mt-3">
  <div class="row booking-details">
    <div class="col-6">
      <div>
        <h2 class="mb-3">Booking Status</h2>
      </div>
      <div>
        <% if @booking.status == "pending" %>
          <i class="fa-solid fa-clock" id="status-icon" style="color: #ffab5c;"></i>
        <% elsif @booking.status == "accepted"%>
          <i class="fa-solid fa-circle-check" id="status-icon" style="color: #63E6BE;"></i>
        <% else %>
          <i class="fa-solid fa-circle-xmark" id="status-icon" style="color: #f44343;"></i>
        <% end %>
        <p class="m-3"><%= @booking.status.capitalize %></p>
      </div>
      <hr>
      <div class="booking-info-area">
        <div class="booking-section-card bg-dark">
          <h3><%= @booking.booking_date.strftime("%B %Y") %><h3/>
            <h4 id="date-day"><%= @booking.booking_date.strftime("%e") %></h4>
          </div>
          <hr>
          <div class="">
            <h3>Property Owner</h3>
            <i class="fa-solid fa-circle-user"></i>
            <p><%=@booking.spot.user.name%></p>
          </div>
          <div class="">
            <h3>Amount Due</h3>
            <i class="fa-solid fa-yen-sign"></i>
            <span><%= @booking.spot.daily_rate %></span>
          </div>
          <div class="button-area m-3">
            <% if @booking.status != "declined" && @booking.status != "canceled" %>
              <div>
                <% if @user.owner == false %>
                  <%= link_to "Edit", edit_booking_path(@booking), class: "button-round-md" %>
                <% end %>
                <%= button_to("Cancel", {controller: "bookings", action: "update", id: @booking.id}, method: :patch, data: {turbo_confirm: 'Are you sure?'}, class: "btn btn-warning", params: { status: "canceled" } ) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div id="spot-section">
          <h5><strong><%= @booking.spot.name %></strong></h5>
          <div class="mb-3">
            <i class="fa-solid fa-location-dot"></i>
            <span><%= @booking.spot.address %></span>
          </div>
          <% if @booking.spot.photo.attached? %>
            <%= cl_image_tag @booking.spot.photo.key %>
          <% else %>
            <%= image_tag 'japan_restaurant.jpg' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
