<div class="container">
  <h1 class="m-3"><%= @user.name %>'s Listed Properties</h1>
  <hr>
  <div class="spot-grid">
    <% @spots.each do |spot| %>
      <div class="spot-card">
        <div class="spot-header">
          <h4><%= spot.name %></h4>
          <div>
            <i class="fa-solid fa-location-dot"></i>
            <%= spot.address %>
          </div>
        </div>
        <div>
          <%= link_to "Bookings", "#", class: "button-round-md" %>
          <%= link_to "Edit", "#", class: "button-round-md" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
